<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link type="text/css" rel="stylesheet" href="/asset/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="/asset/blog/style.css" />

        <script src="/asset/js/bootstrap.min.js" ></script>
    </head>
    <body>
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <h1 class="post-title" itemprop="name headline">
                <a itemprop="url"
                   href="">{{ poster.title }}</a>
            </h1>
            <ul class="post-meta">
                <li itemprop="author" itemscope itemtype="http://schema.org/Person">
                    作者: <a itemprop="name" href="https://1024.love/author/1/" rel="author">{{ poster.author}}</a>
                </li>
                <li>时间:                 <time datetime="2023-06-09T07:48:14+00:00" itemprop="datePublished">{{ poster.posted_at }}</time>
                </li>
                <li>分类: <a href="https://1024.love/category/default/">默认分类</a></li>
            </ul>
            <div class="post-content" itemprop="articleBody">

            </div>
        </article>

    </body>

</html>

